<footer class="pt-4 pb-2 pt-md-5 border-top mt-5 bg-light-blue">
    <div class="container">
        <div class="row justify-content-center justify-content-md-end">
            <div>
                <button class="btn btn-outline-light" [matBadge]="shoppingCartService.totalItems" matBadgeColor="accent"
                    routerLink="/app/shopping-cart/check-out">
                    Comprar
                </button>
            </div>
            <div class="col-12 text-center mt-3">
                <small class="d-block mb-3">
                    Billpocket © 2019-2020
                </small>
            </div>
        </div>
    </div>
</footer>